@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.container1{
    max-width: 1180px;
    margin-inline: auto;
}

body{
    background-color: #1e1e1e;
    
}
@keyframes loader {
    0%, 10%, 100% {
      width: 80px;
      height: 80px;
    }
    65% {
      width: 150px;
      height: 150px;
    }
  }
  @keyframes loaderBlock {
    0%, 30% {
      transform: rotate(0);
    }
    55% {
      background-color: #1770b5;
    }
    100% {
      transform: rotate(90deg);
    }
  }
  @keyframes loaderBlockInverse {
    0%, 20% {
      transform: rotate(0);
    }
    55% {
      background-color: #1770b5;
    }
    100% {
      transform: rotate(-90deg);
    }
  }
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%) rotate(45deg) translate3d(0, 0, 0);
    animation: loader 1.2s infinite ease-in-out;
    
    
  }
  .loader span {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #1770b5;
    animation: loaderBlock 1.2s infinite ease-in-out both;
  }
  .loader span:nth-child(1) {
    top: 0;
    left: 0;
  }
  .loader span:nth-child(2) {
    top: 0;
    right: 0;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  }
  .loader span:nth-child(3) {
    bottom: 0;
    left: 0;
    animation: loaderBlockInverse 1.2s infinite ease-in-out both;
  }
  .loader span:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  
.main-load{
    position: fixed;
    top: 0;
    left: 0;
    background: #1E1E1E;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
@media (max-width:429px) {
    
    .loader{
        margin-top: -7%;
    }
    
}
.nav-item{
    list-style: none;
}
.nav-menu{
    margin-right: -4%;
    margin-top: 1.2%;
}
#contu{
    display: inline-block;
    padding: 6px 12px;
    background-color: #1770B5;
    border-radius: 5px;
}
a{
    color: white;
    text-decoration: none;
}
.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}
.nav-branding{
     margin-left: 7%;
}
.nav-link{
    transition: 0.3s ease;
}
#link:hover{
    color: #1770b5;
}
.hamburger{
    display: none;
    cursor: pointer;

}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media (max-width:912px) {
    header{
        background-color: #1e1e1e;
        
    }
    
    .nav-branding{
        width: 200px;
        margin-left: 12%;
    }
    .hamburger{
        display: block;
        font-size: 2px;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position:absolute;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        z-index: 9;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        left: 0;
    }
}
.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: white;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}
.footer-left>img{
    width:220px;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        


















/* body starts here */
/* body starts here */
/* body starts here */
/* body starts here */
/* body starts here */
/* body starts here */







.box1{
    background-color: #252525;
    height: 380px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.text1{
    max-width: 780px;
    text-align: center;
}

.txt1{
    color: #fff;
    font-size: 30px;
}

.txt2{
    color: #fff;
    font-size: 30px;
}

.txt3{
    color: #1770B5;
    font-size: 20px;

}

.is{
    display: flex;
    flex-direction: row;
}

.sb{
    width: 380px;
    height: 50px;
    border-radius: 5px;
}

.enter{
    color: #fff;
    background-color: #1770b5;
    font-size: 21px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.txt4{
    color: #1770B5;
    font-size: 20px;
}

.icons{
    gap: 15px;
}

.icons>img{
    width: 30px;
}

.box3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    margin-top: 40px;

}

.part1, .part2{
    background-color: #252525;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.add, .cu{
    font-size: 40px;
    color: #1770B5;
    margin-bottom: 40px;
}

.a, .c{
    color: #fff;
    font-size: 20px;
}




/* media queries start here */
/* media queries start here */
/* media queries start here */
/* media queries start here */
/* media queries start here */
/* media queries start here */


@media screen and (max-width: 1015px){
    .box1{
        background-color: #252525;
        height: 380px;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .text1{
        max-width: 780px;
        text-align: center;
    }
    
    .txt1{
        color: #fff;
        font-size: 30px;
    }
    
    .txt2{
        color: #fff;
        font-size: 30px;
    }
    
    .txt3{
        color: #1770B5;
        font-size: 20px;
    
    }
    
    .is{
        display: flex;
        flex-direction: row;
    }
    
    .sb{
        width: 380px;
        height: 50px;
        border-radius: 5px;
    }
    
    .enter{
        color: #fff;
        background-color: #1770b5;
        font-size: 28px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
    }
    
    .box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .txt4{
        color: #1770B5;
        font-size: 20px;
    }
    
    .icons{
        gap: 15px;
    }
    
    .icons>img{
        width: 30px;
    }
    
    .box3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3%;
        margin-top: 40px;
    
    }
    
    .part1, .part2{
        background-color: #252525;
        width: 400px;
        height: 300px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .add, .cu{
        font-size: 40px;
        color: #1770B5;
        margin-bottom: 40px;
    }
    
    .a, .c{
        color: #fff;
        font-size: 20px;
    }
    
}



@media screen and (max-width: 1015px){
    .box1{
        background-color: #252525;
        height: 350px;
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .text1{
        max-width: 780px;
        text-align: center;
    }
    
    .txt1{
        color: #fff;
        font-size: 30px;
    }
    
    .txt2{
        color: #fff;
        font-size: 30px;
    }
    
    .txt3{
        color: #1770B5;
        font-size: 20px;
    
    }
    
    .is{
        display: flex;
        flex-direction: row;
    }
    
    .sb{
        width: 300px;
        height: 40px;
        border-radius: 5px;
    }
    
    .enter{
        color: #fff;
        background-color: #1770b5;
        font-size: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
    }
    
    .box2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    
    .txt4{
        color: #1770B5;
        font-size: 20px;
    }
    
    .icons{
        gap: 15px;
    }
    
    .icons>img{
        width: 30px;
    }
    
    .box3{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4%;
        margin-top: 40px;
    
    }
    
    .part1, .part2{
        background-color: #252525;
        width: 330px;
        height: 300px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .add, .cu{
        font-size: 40px;
        color: #1770B5;
        margin-bottom: 40px;
    }
    
    .a, .c{
        color: #fff;
        font-size: 20px;
    }
    
}



@media screen and (max-width: 780px){

    a>img{
        width: 100%;
    }

    .box1{
        background-color: #252525;
        height: 320px;
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .text1{
        max-width: 780px;
        text-align: center;
    }
    
    .txt1{
        color: #fff;
        font-size: 30px;
    }

    .part1, .part2{
        background-color: #252525;
        width: 300px;
        height: 270px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
}



@media screen and (max-width: 680px){
    .box1{
        background-color: #252525;
        height: 320px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .text1{
        max-width: 780px;
        text-align: center;
    }
    
    .txt1{
        color: #fff;
        font-size: 30px;
    }

    

    .part1, .part2{
        background-color: #252525;
        width: 270px;
        height: 240px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
}



@media screen and (max-width: 620px){
    .box1{
        background-color: #252525;
        height: 320px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .text1{
        max-width: 780px;
        text-align: center;
    }
    
    .txt1{
        color: #fff;
        font-size: 30px;
    }

    .box3{
        flex-direction: column;
        gap: 30px;
    }

    .part1, .part2{
        background-color: #252525;
        width: 270px;
        height: 240px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
}



@media screen and (max-width: 550px){

    .box1{
        background-color: #252525;
        height: 300px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .text1{
        max-width: 500px;
        text-align: center;
    }
    
    .txt1{
        color: #fff;
        font-size: 27px;
    }
    
    .txt2{
        color: #fff;
        font-size: 27px;
    }

    .txt3{
        font-size: 18px;
    }

    .sb{
        width: 250px;
        height: 35px;
        border-radius: 5px;
    }
    
    .enter{
        color: #fff;
        background-color: #1770b5;
        font-size: 18px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
    }
}



@media screen and (max-width: 500px){

    .box1{
        background-color: #252525;
        height: 250px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .text1{
        max-width: 500px;
        text-align: center;
    }
    
    .txt1{
        color: #fff;
        font-size: 24px;
    }
    
    .txt2{
        color: #fff;
        font-size: 24px;
    }

    .txt3{
        font-size: 15px;
    }

    .sb{
        width: 220px;
        height: 30px;
        border-radius: 5px;
    }
    
    .enter{
        color: #fff;
        background-color: #1770b5;
        font-size: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
    }
}



@media screen and (max-width: 400px){

    .box1{
        background-color: #252525;
        height: 220px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .text1{
        max-width: 500px;
        text-align: center;
    }
    
    .txt1{
        color: #fff;
        font-size: 20px;
    }
    
    .txt2{
        color: #fff;
        font-size: 20px;
    }

    .txt3{
        font-size: 15px;
    }

    .sb{
        width: 180px;
        height: 30px;
        border-radius: 5px;
    }
    
    .enter{
        color: #fff;
        background-color: #1770b5;
        font-size: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 5px;
    }

    .txt4{
        color: #1770B5;
        font-size: 18px;
    }
    
    .icons{
        gap: 15px;
    }
    
    .icons>img{
        width: 25px;
    }
}



@media screen and (max-width: 350px){

    .box1{
        background-color: #252525;
        height: 200px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 20px;
        margin-bottom: 40px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    .text1{
        max-width: 500px;
        text-align: center;
    }
    
    .txt1{
        color: #fff;
        font-size: 16px;
    }
    
    .txt2{
        color: #fff;
        font-size: 16px;
    }

    .txt3{
        font-size: 13px;
    }

    .sb{
        width: 140px;
        height: 25px;
        border-radius: 5px;
    }
    
    .enter{
        color: #fff;
        background-color: #1770b5;
        font-size: 11px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
    }

    .txt4{
        color: #1770B5;
        font-size: 18px;
    }
    
    .icons{
        gap: 15px;
    }
    
    .icons>img{
        width: 25px;
    }
}