@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: #131313;
    position: relative;
    height: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

.flex {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
}

.main-nav {
    margin-top: 20px;
    justify-content: space-between;
    position: relative;
}

.nav-links {
    margin-left: 40%;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-family: 'M PLUS 1', sans-serif;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

.hover-links {
    color: white;
    transition: 0.3s ease-out;
}

.hover-links:hover {
    color: red;
}

.sec-button {
    border: 0.5px solid red;
    border-radius: 10px;
    font-weight: 700;
    color: white;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

.sec-button:hover {
    background-color: red;
    color: white;
}

header {}

.header-section {
    justify-content: center;
    gap: 50px;
}

.header-left {
    max-width: 40vw;
}

.header-left h1 {
    margin-top: -20px;
    color: white;
}

.header-left p {
    margin-top: 10px;
    font-size: 15px;
    color: white;
    margin-left: 5px;
}

.header-left a {
    margin-top: 40px;
    color: white;
}

.btn {
    margin-top: 20px;
}

.btn:hover {
    background-color: red;
}

.header-right img {
    width: 100%;
}

.rectangle img {
    margin-top: 25px;
}

.rectangle p {
    font-size: 20px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: -35px;
}

.rectangle .trainee-features1 {
    display: inline-block;
    margin-right: 20px;
}

.rectangle .trainee-features1 h1 {
    margin-top: 30px;
}

.rectangle .trainee-features1 p {
    font-size: 15px;
    margin-top: 3px;
    margin-left: 1px;
    font-weight: lighter;
}

.home-features h1 {
    font-size: 20px;
}

.about-Us-container .about_desc h2 {
    text-align: left;
    color: white;
    font-size: 40px;
    margin-left: 130px;
}

.about-Us-container .about_desc p {
    text-align: left;
    color: white;
    font-size: 15px;
    margin-top: 30px;
    font-weight: lighter;
    margin-left: 140px;
    line-height: 1.5;
}

.about-Us-container a {
    color: white;
}

.about_desc {
    margin-top: 50px;
    margin-left: 50px;
}

.about_desc a {
    margin-left: 140px;
    margin-top: 20px;
}

.btn1 {
    margin-top: 30px;
    transition: 0.10 ease-in-out;
}

.btn1:hover {
    background-color: red;
}

.program-section h1 {
    margin-top: 100px;
    color: white;
    font-size: 40px;
}

.program-section p {
    font-size: 15px;
    margin-top: 110px;
    color: white;
    margin-left: 90px;
    line-height: 1.5;
}

.rectangle1 {
    width: 210px;
    height: 240px;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 100px;
    display: inline-block;
    flex-wrap: wrap;
    transition: 0.3s ease;
    cursor: pointer;
}

.rectangle1:hover {
    background-color: rgb(255, 102, 0);
}

.rectangle1 img {
    margin-left: 50px;
    margin-top: 10px;
}

.rectangle1 h1 {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin-top: -10px;
    color: white;
}

.choosing-section h1 {
    color: white;
    margin-top: -150px;
}

.choosing-features {
    margin-top: -350px;
}

.choosing-features a {
    margin-left: 90px;
    margin-top: 50px;
}

.choosing-features1 h2,
p {
    color: white;
    margin-left: 92px;
    margin-top: 10px;
}

.choosing-features1 p {
    font-size: 15px;
}

.pricing-section h1 {
    text-align: center;
    color: white;
}

.pricing-section p {
    margin-left: -20px;
    text-align: center;
}

.pri-button {
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondarry-text-color);
    transition: 0.2s ease-out;
    text-align: center;
    background-color: red;
}

.pricing-section a {
    margin: 10px;
}

.button-container {
    text-align: center;
    margin-top: 30px;
}

.pri-button,
.sec-button {
    display: inline-block;
    margin: 7px;
    /* Adjust the margin as per your design preference */
    /* Add any other styling you want for the buttons */
}

#card-container {
    display: flex;
    justify-content: center;
    margin-left: 60px
}

#card-container .pro1 {
    width: 30%;
    height: 70%;
    min-width: 150px;
    padding: 10px 0;
    border: 1px solid #d8d8d8;
    text-align: center;
    margin-top: 5%;
    border-radius: 2%;
    cursor: pointer;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.09);
    transition: 0.1s ease;
    position: relative;
    margin-right: 7%;
    background-color: #313131;
    transition: 0.4s ease-in-out;
}

.pro1:hover {
    transform: scale(1.2);
    z-index: 2;
}

#card-container .pro1:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.13);
}

#card-container .pro1 .card1 {
    text-align: center;
    padding: 10px -20px;
    color: white;
}

#card-container .pro1 .card1 h5 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
    margin: 8%;
}

#card-container .pro1 .card1 a {
    margin-top: 40px;
}

#card-container .pro1 .card1 p {
    margin-top: 30px;
}

#card-container .pro1 .card1 h3 {
    font-weight: 900;
    font-size: 30px;
    margin-top: 10%;
}

#card-container .pro1 .card1 span {
    font-weight: 900;
    font-size: 12px;
    margin-top: 10%;
}

#card-container .pro1 .card1 .price {
    margin-top: 15%;
}

.images img {
    max-width: 30px;
    max-height: 30px;
}

.images {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    margin-right: -20px;
    margin-top: 30px;
    /* Use flexbox to align items */
}

.reviews-section h1 {
    font-size: 37px;
    color: white;
    text-align: center;
}

.reviews-section p {
    text-align: center;
    margin-left: -10px;
}

.swiper {
    height: 250px;
    width: 400px;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: rgb(31, 31, 31);
    display: flex;
    justify-content: end;
    align-items: right;
    height: 100%;
    border-radius: 10px;
}

.swiper-slide img {
    align-items: center;
    margin-top: 2%;
    max-width: 20%;
    max-height: 20%;
}

.swiper-slide p {
    text-align: center;
    margin-left: 5px;
}

.swiper-slide h3 {
    text-align: center;
    margin-top: 10px;
    color: white;
    font-size: 20px;
    /* margin-left: 20px; */
}

.swiper-slide h5 {
    text-align: center;
    margin-top: 15px;
    color: white;
    padding: 5px;
}

.icons {
    margin-top: 4px;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-right: 80px;
}

.link-column h4 {
    color: rgb(214, 214, 214);
    font-size: 25px;
}

footer {
    padding-block: 80px;
    background-color: rgb(31, 31, 31);
    ;
}

.footer-container {
    align-items: flex-start;
    justify-content: left;
}
